.o-row {
  display: flex;
  align-items: center;
  border-bottom: #606060 1px solid;
  // background-color: #252388;
  padding: 8px 0px 8px 0px;
  .o-icon {
    width: 2rem;
    margin-right: 5px;
  }
  #value {
    margin-left: auto;
  }
  div {
    font-size: 14px;
    color: #606060;
  }
}
