@import "../../../configStyles.scss";
.o-row {
  display: flex;
  align-items: center;
  border-bottom: $letter-variables 1px solid;
  padding: 8px 0px 8px 0px;
  .o-icon {
    width: 2rem;
    margin-right: 5px;
  }
  #value {
    margin-left: auto;
  }
  div {
    font-size: 14px;
    color: $letter-variables;
  }
}
